# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
.vercel

# Misc
.DS_Store
.AppleDouble
.LSOverride
Icon
Thumbs.db
*.local
*.log
*.txt
!supabase_schema.sql
!README.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE/Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.*
!.env.example
*.env

# MCP
.mcp.json

# Claude Code
.claude/
